.idea/
data/input/*
data/misc/*
data/output/*
data/working/*
data/dnerf/*
export_mesh_renders/*
outputs/*
custom-nerf-model/outputs/*
custom-nerf-model/*/outputs/*
*.egg-info
*__pycache__*
*/*__pycache__*
renders/
/pipeline_steps/__pycache__
/pipeline_steps/__pycache__/*
.ipynb_checkpoints*